:root{
    --vermelho: #E50914;
    --preta: #221f1f; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body {
    background: var(--preta);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    max-width: 120px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*filme principal*/

.filme-principal {
    font-size: 16px;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/homem-aranha.jpg');
    
    height: 500px;
    background-size: cover; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 5px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 1, 0.514);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 5px;
    margin-top: 10px;
    font-size: 12px;
    transition: 0.3s ease all;
}

.botao:hover{
    background-color: rgb(189, 188, 188);
    color: black;

}

.botao i {
    margin-right: 5px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 10px;
}

img:hover{
    transform: scale(1.25,1.25);
}